/* Pablo Fernando Urones Clavera    UO264915  */


/* especificidad = 001 */
table {
    width: 20%;
    margin: 2%;
    font-size: 0.6em;
}

/* especificidad = 001 */
td {
    width: 20%;
    height: 20%;
    padding: 0.5em;
}

/* especificidad = 001 */
tr {
    width: 20%;
    height: 20%;
    padding: 0.25em;
}





