/* Pablo Fernando Urones Clavera    UO264915  */

/* 
  Black     #000000
  Soft Green     #706e6ecc
  Yellow Mustard    #c5bb2d
*/

/* especificidad = 001 */
body {
    font: 400 1em Verdana, sans-serif;
    line-height: 2em;
    color: #000000;
    background-color: #bed1c8;
    max-width: 90%;
}

/* especificidad = 001 */
header {
    /* hereda color de body */
    background-color: #c5bb2d;
    font: 400 1.3em Verdana, sans-serif;
    text-transform: uppercase;
    text-align: center;
    max-width: 90%;
}

/* especificidad = 001, 001, 001, 001, 001 */
h2, h3, h4, h5, h6 {
    /* heredan color de body */
    background-color: #c5bb2d;
    text-decoration: underline;
    font: 400 1.3em Verdana, sans-serif;
}

/* especificidad = 001 */
nav {
    font-size: 1.2em;
}

/* especificidad = 001, 001, 001 */
ul, ol, dl {
    max-width: 90%;
    border-width: 0.3em;
    border-bottom-left-radius: 3.1em;
    border-top-left-radius: 3.1em;
}

/* especificidad = 011 */
li[id="destacar"]{
    font-weight: bold;
}

/* especificidad = 001 */
dt {
    max-width: 90%;
    font-weight: bold;
    text-decoration: underline;
}

/* especificidad = 001 */
footer {
    /* hereda color de body */
    background-color: #c5bb2d;
    margin-top: 2%;
    max-width: 90%;
}


/* especificidad = 001 */
img {
    width: 15%;
    height:  20%;
}

/* especificidad = 001 */
table {
    border: 0.2em solid black;
    align-content: center;
    max-width: 50%;
}

/* especificidad = 001 */
td {
    text-align: center;
}

/* especificidad = 001 */
tr {
    text-align: center;
}

/* especificidad = 001 */
th {
    /* hereda color de body */    
    background-color: #c5bb2d;
    padding: 0.5em;
}


/* especificidad = 001 */
a{
    text-decoration: none;
}

audio {
    display: block;
    margin-top: 1%;
    max-width: 70%;
}

/* especificidad = 001 */
video {
    display: block;
    margin-top: 1%;
    height: auto;
    max-width: 70%;
}



