/* Pablo Fernando Urones Clavera    UO264915  */

/* especificidad = 001 */
section {
    margin-top: 1.5em;
    display: grid;
    grid-template-columns: repeat(1, 1fr); 
    grid-template-rows: repeat(5, 1fr);
    width: 30%;
    align-items: center;
}

/* especificidad = 001 */
button {
    margin-top: 2em;
    height: 3em;
    width: 50%;
}